<div class="row">
  <div class="col-12 col-md-8 offset-md-2">
    <div class="mb-3">
      <label for="accountName" class="form-label">Account Name</label>
      <input
        type="text"
        class="form-control"
        id="accountName"
        #accountName>
    </div>
    <div class="mb-3">
      <label for="status" class="form-label">Status</label>
      <select class="form-control" id="status" #status>
        <option value="active">Active</option>
        <option value="inactive">Inactive</option>
        <option value="hidden">Hidden</option>
      </select>
    </div>
    <button
      class="btn btn-primary"
      (click)="onCreateAccount(accountName.value, status.value)">
      Add Account
    </button>
  </div>
</div>
